
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with <i class="fa-brands fa-html5" style=" font-size:20px;"></i>  <i class="fa-brands fa-css3-alt" style=" font-size:20px;"></i>  <i class="fa-brands fa-bootstrap" style=" font-size:20px;"></i>  <i class="fa-brands fa-js" style=" font-size:20px;"></i>  <i class="fa-brands fa-node-js" style=" font-size:20px;"></i>  <i class="fa-brands fa-envira" style=" font-size:20px;"></i> <span style=" font-size:20px;">ex</span>  & <span style=" font-size:20px;">ejs</span> by Prem Bhimavat</p>
  </div>
</div>
</body>
</html>
