<%- include("./partials/header.ejs"); -%>

    <h1>About</h1>
    <p>A minimalistic responsive Blog website which allows you to compose and publish blogs. I made this website as a fun project in under two days to understand MERN stack better and to also help me doucument my progamming goals for 2022.</p>

<%- include("./partials/footer.ejs"); -%>