<%- include("./partials/header.ejs"); -%>

    <h1>Contact Me</h1>
    <p>I am <strong>Prem Bhimavat</strong> and I am passionate about Web Development, Data Science, DevOps and Competitive Programming.<br/> Get in touch : <a href="https://twitter.com/prembhimavat"><i class="fa-brands fa-twitter" style="font-size:18px"></i></a> <br/> Check out my other work : <a href="https://github.com/prembhimavat"><i class="fa-brands fa-github" style="font-size:18px; color:black;"></i></a>.</p>

<%- include("./partials/footer.ejs"); -%>