<%- include("./partials/header.ejs"); -%>

    <div class = "row">
        <div class = "col-lg-6">
            <img src="/images/about-dec-v3.png" class="image">
        </div>
        <div class ="col-lg-6">
            <p class="notFoundA">404!</p>
            <p class="notFoundB">Page not found</p>
        </div>
    </div>

<%- include("./partials/footer.ejs"); -%>