.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

a{
    text-decoration: none;
}

.image{
    margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notFoundA{
    text-align: center;
    font-size: 60px;
    padding-top:20%;
}

.notFoundB{
    text-align: center;
    font-size: 40px;
}

.footer-padding {
	padding-bottom: 60px;
}


.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 2px;
	font-size: 16px;
  color: #fff;
}
